*{
    margin: 0;
    padding: 0;
}
body{
    background:linear-gradient(rgba(88, 19, 88, 0.918), rgba(27, 1, 26, 0.842)), url(2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background-size: cover;
    z-index: 99;
    background-color: white;
    box-shadow: 0 0 10px rgb(241, 241, 241);
}
nav .logo{
    flex: 1;
    color: rgb(158, 33, 137);
    margin-left: 50px;
}
img{
    margin-left: 30px;
    width: 30px;
    padding-right: 5px;
}
span{
    padding-right: 10px;
}
@media screen and (max-width:600px){
    img{
        margin-left: 5px;
    }
    ul li{
        font-size: 13px;
    }
}
nav ul{
    flex: 2;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}
nav ul li{
    list-style: none;
}
.a{
    color: skyblue;
}
.b{
  color:   rgb(214, 47, 186);
}
.f{
    color: greenyellow;
}
.d{
    color: red;
}
.e{
    color: orange;
}
section{
    padding-top: 100px;
}
.lap{
    padding-right: 10px;
    font-size: 28px;
    color: white;
}
.fa-arrow-left{
    padding-right: 20px;
    padding-left: 30px;
}
select{
    background: none;
    color: white;
    border-style: none;
    font-size: 25px;
    margin-left: 40px;
}
option{
    color: black;
   
}
.parent{
    margin-top: 40px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}


.one{
    width: 30%;
}
.gam, .ram{
    margin-bottom: 30px;
}

.num{
    background: white;
    border: 1px solid white;
    padding: 7px 13px 7px 13px;
    border-radius: 50%;
    margin-left: 100px;
}
.slime{
    margin-left: 30px;
    margin-top: -30px;
    color: white;
    border-radius: 20px;
    padding: 10px 20px 10px 90px;
    background-color: skyblue;
}
.slime2{
    margin-left: 30px;
    margin-top: -30px;
    color: white;
    border-radius: 20px;
    padding: 10px 20px 10px 90px;
    background-color: orange;
}
.slime3{
    margin-left: 30px;
    margin-top: -30px;
    color: white;
    border-radius: 20px;
    padding: 10px 20px 10px 90px;
    background-color:rgba(0, 0, 0, 0.815);
}
h2{
    margin-left: 200px;
    color: white;
}
.point{
    padding-left: 90px;
}
#down{
    margin-top: -30px;
    width: 80px;
    border-radius: 50%;
}
.two{
    width: 40%;
    margin-right: 30px;
}
.slime4{
    margin-top: -32px;
    color: white;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    background-color: orange;
}
.slime5{
    margin-top: -32px;
    color: white;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    background-color: skyblue;
}
.slime6{
    margin-top: -32px;
    color: white;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    background-color: rgba(8, 6, 8, 0.842);
}
.point1{
    padding-left: 10px;
    margin-left: 40%;
}
#up{
    width: 40px;
    border-radius: 50%;
}
#name{
    margin-left: 50px;
}
@media screen and (max-width:600px)
{
    .ome{
        width: 100%;
    }
    .slime, .slime2, .slime3{
        width: 200%;
        margin-left: 10px;
    }
    select{
        margin-top: 20px;
    }
    .two{
        width: 100%;
        margin-left: 10px;
    }
    .point1{
        margin-left: 30%;
    }
    #up{
        margin-left: 30px;
    }
}
